body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #9ab0ff, #8581f3);
    text-align: center;
    padding: 20px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: left;
}

h2, h3 {
    color: #1e1cc5;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

table td {
    padding: 8px;
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 80px;
}

button {
    background: #14229c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #4e158b;
}
